@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1>Controle de Clientes (.NET Core) </h1>
    <h2>Codigo de demonstração ASP.NET Core + EntityFrameworkCore</h2>

    <h3>Utilização dos Padrões</h3>

    <ul>       
        <li>Design Pattern Repository</li>
        <li>Design Pattern Unit of Work</li>
        <li>Dependency Injection - Controllers Constructor</li>
        <li>EF Code First Migration</li>
    </ul>
</div>