@model ClienteViewModel

@{
    ViewData["Title"] = "Adicionar";
}

<h2>Adicionar</h2>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>



            <div class="form-group">
                <div class="col-md-5">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="col-md-3">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="col-md-3">
                    <label asp-for="CNPJ" class="control-label"></label>
                    <input asp-for="CNPJ" class="form-control" />
                    <span asp-validation-for="CNPJ" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="CEP" class="control-label"></label>
                    <input asp-for="CEP" class="form-control" />
                    <span asp-validation-for="CEP" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Rua" class="control-label"></label>
                    <input asp-for="Rua" class="form-control" />
                    <span asp-validation-for="Rua" class="text-danger"></span>
                </div>

                <div class="col-md-1">
                    <label asp-for="Numero" class="control-label"></label>
                    <input asp-for="Numero" class="form-control" />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="Complemento" class="control-label"></label>
                    <input asp-for="Complemento" class="form-control" />
                    <span asp-validation-for="Complemento" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <label asp-for="Cidade" class="control-label"></label>
                    <input asp-for="Cidade" class="form-control" />
                    <span asp-validation-for="Cidade" class="text-danger"></span>
                </div>
                <div class="col-md-5">
                    <label asp-for="Estado" class="control-label"></label>
                    <input asp-for="Estado" class="form-control" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-5">
                    <label asp-for="CategoriaId" class="control-label"></label>
                    <select asp-for="CategoriaId" class="form-control" asp-items="@(new SelectList(ViewBag.SelectCategorias, "Value", "Text"))">
                        <option value="">Selecione...</option>
                    </select>
                    <span asp-validation-for="CategoriaId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-5">
                    <input type="submit" value="Adicionar Cliente" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cancelar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
